# ignore all files

/.**

# whitelist

!/.git*
!**/.gitignore
!**/.gitkeep

!/.git-template/**

!/.github/
!/.github/**

!/.gitsecret/
!/.gitsecret/**
.gitsecret/keys/random_seed
!/**/*.secret

!/.ssh/
!/.ssh/shared/
/.ssh/shared/*
!/.ssh/shared/*.secret
!/.ssh/sockets/
!/.ssh/sockets/.gitkeep

!/.config/
!/.config/*/
!/.config/bash/**
/.config/bash/env.sh
!/.config/fcitx/
!/.config/fcitx/config
!/.config/fish/*
/.config/fish/config.fish
/.config/fish/fish_variables
/.config/fish/fish_plugins
!/.config/fish/conf.d
!/.config/fish/conf.d/gh.fish
!/.config/fish/conf.d/local.fish.template
!/.config/fish/conf.d/share.fish
!/.config/fish/conf.d/wsl.fish
!/.config/fish/functions
!/.config/fish/functions/clip.fish
!/.config/fish/functions/exa.fish
!/.config/fish/functions/explorer.fish
!/.config/fish/functions/git.fish
!/.config/fish/functions/ls.fish
!/.config/fish/functions/open.fish
/.config/fish/functions/_*.fish
!/.config/git/**
!/.config/mc
!/.config/mc/ini
!/.config/mume/
!/.config/mume/style.less
!/.config/nvim
!/.config/powershell/**
!/.config/PulseEffects/output/
!/.config/sh
/.config/sh/*
!/.config/sh/*.sh
!/.config/sh/scripts
/.config/sh/scripts/*
!/.config/sh/scripts/*.sh
!/.config/starship.toml
!/.config/user-dirs.dirs
!/.config/user-dirs.locale
!/.config/wezterm/**
!/.config/zsh/
!/.config/zsh/**
/.config/zsh/antigen.sh
/.config/powershell/Microsoft.PowerShell_profile.ps1
!/.dircolors
!/.inputrc

!/.local/
!/.local/.bashrc.template
!/.local/bin/
!/.local/bin/open
!/.local/bin/git-diff-archive

!/.vim/
/.vim/tokens.vim
!/.vim/tokens.vim.secret
!/.vimrc
!/.vim/backup/
!/.vim/colors/
!/.vim/colors/**
!/.vim/dein/
!/.vim/dein/**
!/.vim/ftdetect/
!/.vim/ftdetect/**
!/.vim/rc/
!/.vim/rc/**
!/.vim/session/
!/.vim/swap/
!/.vim/undo/

!/bin/
!/bin/**
!/scripts/
!/scripts/**
/scripts/distrod/install.sh
/scripts/linux/x11/sddm/Xsetup.conf.d/*.sh
!/scripts/linux/x11/sddm/Xsetup.conf.d/.gitkeep
!*.secret
