# ignore all files

/.*
/**/*.bak
/test

# whitelist

!/.git*
!**/.gitignore
!**/.gitkeep

!/.git-template/**

!/.github/
!/.github/**

!/.gitsecret/
!/.gitsecret/**
.gitsecret/keys/random_seed
!/**/*.secret

!/.ssh
/.ssh/*
!/.ssh/shared/
/.ssh/shared/*
!/.ssh/shared/*.secret
!/.ssh/sockets
/.ssh/sockets/*
!/.ssh/sockets/.gitkeep

!/.config
/.config/*
!/.config/bash/*.bash
!/.config/bash/local.bash.template
/.config/bash/env.sh
!/.config/fcitx/
/.config/fcitx/*
!/.config/fcitx/config

!/.config/fish
/.config/fish/*
!/.config/fish/conf.d
/.config/fish/conf.d/*
!/.config/fish/conf.d/alias.fish
!/.config/fish/conf.d/gh.fish
!/.config/fish/conf.d/local.fish.template
!/.config/fish/conf.d/pnpm.fish
!/.config/fish/conf.d/share.fish
!/.config/fish/conf.d/starship.fish
!/.config/fish/conf.d/wsl.fish
!/.config/fish/functions
/.config/fish/functions/*
!/.config/fish/functions/clip.fish
!/.config/fish/functions/exa.fish
!/.config/fish/functions/explorer.fish
!/.config/fish/functions/git.fish
!/.config/fish/functions/ls.fish
!/.config/fish/functions/la.fish
!/.config/fish/functions/ll.fish
!/.config/fish/functions/open.fish
/.config/fish/functions/_*.fish
!/.config/git/**
!/.config/lazygit
!/.config/lazygit/config.yml
!/.config/mc
/.config/mc/*
!/.config/mc/ini
!/.config/mume
/.config/mume/*
!/.config/mume/style.less
!/.config/nvim
!/.config/nvim/*
!/.config/nvim/.gitignore
/.config/nvim/lazy-lock.json
!/.config/pipewire/
!/.config/pipewire/**
!/.config/powershell/**
/.config/powershell/local.ps1
!/.config/PulseEffects/output/
!/.config/sh
/.config/sh/*
!/.config/sh/*.sh
!/.config/sh/scripts
/.config/sh/scripts/*
!/.config/sh/scripts/*.sh
!/.config/starship.toml
!/.config/user-dirs.dirs
!/.config/user-dirs.locale
!/.config/waveterm/settings.json
!/.config/wezterm/*
/.config/wezterm/local/*
!/.config/wezterm/local/init.lua.example
!/.config/wireplumber/
!/.config/wireplumber/**
!/.config/zabrze/
!/.config/zabrze/**
!/.config/zsh/
!/.config/zsh/**
/.config/zsh/antigen.sh
/.config/powershell/Microsoft.PowerShell_profile.ps1
!/.dircolors
!/.inputrc

!/.vimrc

!/.vim
/.vim/*
!/.vim/*.vim
!/.vim/*.toml
/.vim/local.vim
/.vim/tokens.vim
!/.vim/tokens.vim.secret
!/.vim/colors/
!/.vim/colors/**
!/.vim/dein/
!/.vim/dein/**
!/.vim/session
/.vim/session/*
!/.vim/swap
/.vim/swap/*
!/.vim/undo
/.vim/undo/*
!/.vim/ftdetect/
!/.vim/ftdetect/**

/scripts/tmp
/scripts/linux/x11/sddm/Xsetup.conf.d/*.sh

!*.secret

!/.zshrc
!/.config/sheldon
!/.config/sheldon/*

