[user]
	useConfigOnly = true
[color]
	ui = true
[core]
	autocrlf = input
	quotepath = false
	editor = vim
	excludes = ~/.config/git/ignore
	filemode = true
[pull]
	ff = only
[fetch]
	prune = true
[alias]
	br = branch
	cm = commit
	co = checkout
	df = diff
	dt = difftool
	f = fetch
	m = merge
	mt = mergetool
	psuh = push
	pl = pull
	sc = secret
	st = status
	sw = switch
	tree = log --graph --date=short --pretty=format:'%x09%C(auto) %h %Cgreen %ad %Creset%x09by"%C(cyan ul)%an%Creset" %x09%C(auto)%s %d'
	set-user = "!f(){ git config --local user.name \"$1\"; git config --local user.email \"$2\"; };f"
	set-default-user = "!f(){ git set-user motsuni motsuni@yotta-rc.dev; };f"
	reset-user = "!f(){ git config --local --unset user.name; git config --local --unset user.email; };f"
	root = "!f() { git rev-parse --show-superproject-working-tree --show-toplevel | head -1; }; f"
	unstage = "!f() { git restore --staged $1; }; f"

[credential]
	helper = cache --timeout=86400
[diff]
	tool = vim
	guitool = code
	compactionHeuristic = true
[difftool]
	prompt = false
[difftool "vim"]
	cmd = vim -d $LOCAL $REMOTE
[difftool "code"]
	cmd = code --wait --diff $LOCAL $REMOTE
[merge]
	conflictstyle = diff3
	ff = false
	prompt = false
	tool = vimdiff
[mergetool "code"]
	cmd = code --wait $MERGED
[init]
	defaultBranch = master
	templatedir = ~/.config/git/templates
[commit]
	template = ~/.config/git/message
[color "diff"]
	meta = 242 238
	frag = 239 236
	old = 167 normal
	new = 030 normal
	context = 240
	commit = 246 024

# vim: set ts=4 sw=4 sts=4 noet ai:
