# ignore all files

/*
/.**


# whitelist

!.gitignore
!.gitkeep
!/.github/
!/.github/**

!/.config/
!/.config/*/
!/.config/bash/**
!/.config/fish/**
/.config/fish/fish_variables
!/.config/mc/**
!/.config/mume/
!/.config/mume/**
!/.config/nvim
!/.dircolors
!/.gitconfig_shared
!/.inputrc

!/.vim/
!/.vimrc
!/.vim/backup/
!/.vim/dein/
!/.vim/dein/**
!/.vim/rc/
!/.vim/rc/**
!/.vim/session/
!/.vim/swap/
!/.vim/undo/

!/install.sh
!/README.md

!/bin/
!/bin/**
!/scripts/
!/scripts/**
/scripts/distrod/install.sh
