"$schema" = 'https://starship.rs/config-schema.json'

add_newline = true

# https://starship.rs/ja-JP/config/#デフォルトのプロンプトフォーマット
format = """
$os\
$username\
$hostname\
$localip\
$shlvl\
$singularity\
$kubernetes\
$directory\
$git_branch\
$git_commit\
$git_state\
$git_metrics\
$git_status\
$docker_context\
$package\
$c\
$cmake\
$deno\
$dotnet\
$java\
$gradle\
$lua\
$nodejs\
$php\
$python\
$rust\
$vagrant\
$memory_usage\
$direnv\
$env_var\
$custom\
$sudo\
$cmd_duration\
$line_break\
$jobs\
$battery\
$time\
$status\
$container\
$shell\
$character"""


[character]
error_symbol = "[❯](bold red)"
success_symbol = "[❯](bold green)"

[shell]
disabled = false
bash_indicator = ""  #  
fish_indicator = "󰈺"
cmd_indicator = ""
pwsh_indicator = "󰨊"
zsh_indicator = "zsh"

[hostname]
ssh_symbol = "[](yellow) "
style = "bold green"
format = '[$ssh_symbol$hostname]($style):'

[directory]
truncation_length = 100
truncate_to_repo = false
truncation_symbol = "…/"
use_os_path_sep = false
read_only = " 󰉐"
read_only_style = "yellow"

[directory.substitutions]
"Documents" = "󰈙 "
"Downloads" = " "
"Music" = " "
"Pictures" = " "

[cmd_duration]
format = "󱦟 [$duration]($style) "

[docker_context]
format = "via [󰡨 $context](blue bold)"

[git_branch]
symbol = " "
format = '[ $symbol$branch ]($style)'

[git_status]
format = '([$all_status$ahead_behind]($style) )'
modified = '[ ~$count](red) '
staged = '[ ~$count](green) '
stashed = ' ~$count '
untracked = '[ ~$count](yellow) '
conflicted = '[ ~$count](bold red) '
deleted = '[ ~$count](red) '
renamed = '[ ~$count](magenta) '
ahead = '⇡${count}'
diverged = '⇕⇡${ahead_count}⇣${behind_count}'
behind = '⇣${count}'

[username]
style_user = "white"
style_root = "black bold"
format = "[$user⚓]($style) "
disabled = false
show_always = true

[os]
disabled = false

# find from https://www.nerdfonts.com/cheat-sheet
[os.symbols]
Alpine = " "
Arch = " "
Debian = " "
Linux = " "
Macos = " "
Mint = "󰣭 "
Raspbian = " "
Ubuntu = "󰕈 "
Windows = " "  #    󰖳 󰨡

[package]
symbol = "󰏗 "   #  󰏗
disabled = true

[lua]
symbol = " " #  󰢱

[nodejs]
symbol = "󰎙 " #  󰎙 

[php]
symbol = " " #    󰌟

[python]
symbol = " " # 

[rust]
symbol = '󱘗 ' #   󱘗

[c]
symbol = " "

[cpp]
symbol = " " #   󰙲

[golang]
symbol = "󰟓 " #   󰟓

[cmake]

[deno]
symbol = " "

[dotnet]

[java]
symbol = "󰬷 " #    󰬷
